
*.pyc

.idea/

itcompanysite/companies/.env

itcompanysite/itcompanysite/.env
itcompanysite/db.sqlite3
*.sqlite3




media/files/60700a1a-23d7-4bc8-b555-7dcbaedc9adf/Безымянный.png

media/news_images/Безымянный.png
