.section-news {
    margin: 40px 0;
}

.swiper-slide {
    text-align: center;
}

.swiper-slide img {
    width: 100%;
    height: auto;
}

.swiper-slide h3 {
    margin-top: 10px;
    font-size: 18px;
}
