{% extends 'main/layout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/registration.css' %}">
{% endblock %}

{% block title %}Создание стажировки{% endblock %}

{% block content %}
<main class="registration-container">
    <div class="registration-header">
        <span class="registration-header_main">Создание стажировки</span>
    </div>

    <form method="post" class="registration-form">
        {% csrf_token %}

        {% for field in form %}
            {% if field.name != 'role' %}
                <!-- Удалил field.label_tag, т.к. render_field уже выводит и поле, и метку -->
                {% render_field field class+="input-field" %}
                {{ field.errors }}
            {% endif %}
        {% endfor %}

        <button class="submit-button" type="submit">Подтвердить</button>
    </form>
</main>
{% endblock %}
