{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Список стажировок{% endblock %}

{% block content %}
<main class="internships-list-container">
    <h1>Доступные стажировки</h1>

    <div class="internships-grid">
        {% for internship in internships %}
            <div class="internship-card">
                <h2>{{ internship.company.name }}</h2>
                <p class="card_item"><strong>Описание:</strong> {{ internship.description }}</p>
                <p class="card_item"><strong>Тип работы:</strong> {{ internship.time_type_work }}</p>
                <p class="card_item"><strong>Дата начала:</strong> {{ internship.date_start }}</p>
                <p class="card_item"><strong>Дата окончания:</strong> {{ internship.date_end }}</p>
                <p class="card_item"><strong>Адрес:</strong> {{ internship.company_address.address }}</p>
                <p class="card_item"><strong>Зарплата:</strong> {{ internship.salary }} ₽</p>
                <p class="card_item"><strong>Всего мест:</strong> {{ internship.all_places }} / <strong>Доступных:</strong> {{ internship.available_places }}</p>

                <a href="{% url 'internship_detail' internship.id %}" class="details-button">Подробнее</a>
            </div>
        {% endfor %}
    </div>
</main>

<style>
    .internships-list-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
    }

    .internships-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
    }

    .internship-card {
        background-color: transparent;
        display: flex;
        flex-direction: column;
        gap: 15px;
        border: 1px solid #faf446;
        border-radius: 8px;
        padding: 20px;
        background-color: ;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin: 30px
    }

    strong{
        border-bottom: 0.5px solid #FFFFFF;
    }

    .card_item{
        color: #FFFFFF;
    }

    .internship-card h2 {
        border-bottom: 1px solid #faf446;
        margin-top: 0;
        font-size: 30px;
        padding-bottom: 5px;

    }

    .internship-card p {
        margin: 8px 0;
        font-size: 16px;
    }

    .details-button {
        display: inline-block;
        border: 1px solid #FFFFFF;
        margin-top: 10px;
        padding: 10px 15px;
        background-color: transparent;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .details-button:hover {
        background-color: #0056b3;
    }
</style>
{% endblock %}
